body{
    margin: 0px;
    padding: 0%;
}
h3{
    padding: 10px;
}
.wrapper .tribute-info{
    text-align: justify;
    padding: 50px 30px;
}
a{
    margin-left: 30px;
    margin-bottom: 30px;
}
footer{
    background-color: rgb(7, 44, 114);
    display: flex;
}